@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  width: 100%;
  min-height: 100vh;
  background-color: #292d33;
  position: relative;
}
header {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
}
header div {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 20px;
}
.X {
  display: none;
}
.burger {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  display: none;
}
.burger span {
  height: 2px;
  width: 100%;
  background-color: black;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #ec3d45;
}
main {
  padding: 40px;
}
section {
  margin: auto;
  min-height: 439px;
  height: auto;
  width: 90%;
  background-color: white;
}
.for_content {
  padding: 20px 20px;
}
.buttons_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "button1 button2 button3 button4";
}
.buttons_container button:nth-of-type(1) {
  grid-area: button1;
}
.buttons_container button:nth-of-type(2) {
  grid-area: button2;
}
.buttons_container button:nth-of-type(3) {
  grid-area: button3;
}
.buttons_container button:nth-of-type(4) {
  grid-area: button4;
}
.buttons_container button {
  border: none;
  background-color: #3b3f46;
  color: white;
  padding: 10px;
  transition: all 0.5s;
  height: 57px;
  font-size: 20px;
  cursor: pointer;
}
.buttons_container button:hover {
  background-color: white;
  color: black;
}
.button1_div > div:nth-of-type(1) {
  max-width: 258px;
}
.button1_div > div:nth-of-type(1) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.button1_div {
  padding: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button1_div_list {
  width: calc(100% - 300px);
}
.button1_div_list h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
}
.button1_div_list ul li {
  font-size: 16px;
  line-height: 1.8;
}
ul li {
  list-style-position: inside;
}
.button2_div {
  flex-direction: column;
  gap: 20px;
  display: none;
}
.button4_div {
  flex-direction: column;
  gap: 20px;
  display: none;
}
.button3_div {
  flex-direction: column;
  gap: 20px;
  display: none;
}
.blue_button {
  width: fit-content;
  border: none;
  background-color: rgb(10, 10, 187);
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
}
.blue_button:hover {
  background-color: rgb(6, 6, 109);
}
footer {
  width: 100%;
  background-color: #333333;
  height: 150px;
  padding: 50px 0px;
}
footer p {
  margin: auto;
  width: 40%;
  text-align: center;
  color: white;
}
@media screen and (min-width:997px) and (min-height: 767px) {
  footer {
    position: absolute;
    bottom: 0;
  }
}

@media screen and (max-width: 996px)  {
  .button1_div {
    padding: 0;
    flex-direction: column;
  }
  .button1_div > div:nth-of-type(1) {
    max-width: 95% !important;

    width: 100%;

    height: 500px;
  }
  .button1_div > div:nth-of-type(1) img {
    object-position: top;
  }
  .button1_div_list {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  footer p {
    width: 80%;
    font-size: 16px;
  }
  .buttons_container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "button1 button1 "
      "button2  button3"
      "button4 button4";
  }
  .buttons_container button {
    border: 1px solid grey;
    font-size: 16px;
  }
  .burger {
    display: flex;
  }
  nav {
    position: fixed;
    left: -120%;
    top: 0px;
    width: 60%;
    height: 100vh;
    background-color: #000000;
    opacity: 0.9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 888;
  }
  body.no_scroll {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  body.no_scroll main {
    opacity: 0.3;
  }

  nav.active a {
    color: white;
  }
  nav.active {
    left: 0;
  }
  nav.active .X {
    display: flex;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
  }
  .button1_div > div:nth-of-type(1) {
    height: 400px;
  }
  .button1_div_list h2 {
    font-size: 18px;
    line-height: 1.3;
  }
  .button1_div_list ul li {
    font-size: 14px;
    line-height: 1.3;
  }
}
@media screen and (max-width: 450px)  {
  .button1_div > div:nth-of-type(1) {
    height: 300px;
  }
  .button1_div_list h2 {
    font-size: 16px;
  }
  nav {
    width: 50%;
  }
  main {
    margin-bottom: 20px;
  }
}
