* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
}
section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.pricing{
    width:60%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    gap:20px;
    text-align: right;
}
th{
    background-color: #80ff00;
}
th,td{
   padding: 10px 16px; 
   text-align: center;
}
table tr:nth-of-type(2){
    color: black;
    font-weight: 900;
    font-size: 24px;
}
table td:nth-of-type(odd){
    background-color: #f2f2f2;
}
p{
    width:60%;
}