* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
}
section {
  width: 100%;
  height: 100vh;
  background-image: url("https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/1a3e9298a3745e7f8aac9f48/pexels-photo-2556956.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
table {
  width: 60%;
  border-collapse: collapse;
}
th {
  background-color: black;
  color: white;
}
th,
td {
  padding: 10px 16px;
  text-align: left;
}
tr:nth-of-type(odd) {
  background-color: #e0e5eb;
}
